@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --fontFamily: "soehne", "Helvetica Neue", "Arial", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "soehne";
  src: url("/public/fonts/test-soehne-leicht.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "soehne-extra";
  src: url("/public/fonts/test-soehne-extraleicht.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--fontFamily);
}

.regular-font {
  font-family: "soehne", "Helvetica Neue", "Arial", sans-serif;
  font-size: 1rem;
}

.regular-font-2 {
  font-family: "soehne-extra", "Helvetica Neue", "Arial", sans-serif;
  font-size: 1rem;
}

.bg-custom {
  background: var(--background);
}

.bg-purple-gradient{
  background: rgb(25, 25, 25)
}